ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul path {
  stroke: white;
  fill: white;
}
a {
  text-decoration: none;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}
mat-form-field {
  font-size: 12px;
}

input {
  font-size: 14px;
}
.spacer2 {
  margin-top: 15px;
}
.material-table {
  width: 20%;
}
