<mat-toolbar color="primary">

  <span class="title"><a routerLink="/newsFeed">My Posts</a></span>
  <span class="spacer"></span>


  <ul>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/search" routerLinkActive="mat-accent">
        <mat-icon class='search-icon'>search</mat-icon>
      </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/task" routerLinkActive="mat-accent">Dodaj Zadanie</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Dodaj cel</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/profile" routerLinkActive="mat-accent">Mój profil</a>
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Zarejestruj się</a>
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Zaloguj się</a>
    </li>

    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Wyloguj się</button>
    </li>
  </ul>

</mat-toolbar>
