<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<div class="container">
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="changeDate()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (click)="changeDate()"
      >
        Today
      </div>
      <button
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="changeDate()"
        [disabled]="isNextDisable"
      >
        Next
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />

<mat-card *ngFor="let goal of myGoals">
  <mat-card-title>
    {{goal.title}}
  </mat-card-title>
  <mat-card-subtitle *ngFor="let task of tasks">
    <p *ngIf="this.userIsAuthenticated&&
              goal.creator==this.userId&&
              task.isDone==true&&
              task.title==goal.title&&
              view === CalendarView.Week&&
              task.taskComplitionDate!>startOfTheWeek&&
              task.taskComplitionDate!<endOfTheWeek">
      {{task.title}} - {{task.taskComplitionDate}}
    </p>

    <p *ngIf="this.userIsAuthenticated&&
              goal.creator==this.userId&&
              task.isDone==true&&
              task.title==goal.title&&
              view === CalendarView.Month&&
              task.taskComplitionDate!>startOfTheMonth&&
              task.taskComplitionDate!<endOfTheMonth">
      {{task.title}} - {{task.taskComplitionDate}}
    </p>
  </mat-card-subtitle>

</mat-card>

