.info-text {
  text-align: center;
}
:host {
  display: block;
  margin-top: 1rem;
}
mat-spinner{
  margin:auto;
}

.taskListView-listContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.taskListView-listViewPort {
  flex-grow: 1;
}

