h1{
  text-align: center;
  margin: 32px 0 0 10px;
}
h3{
  text-align:center;

}
h4{
  text-align:center;

  margin-top:-16px;
}

mat-card{
  margin-top: 2rem;
}
a{
  margin: 0 auto;
  display:block;
  width:20%;
  padding-top:5px;
  padding-bottom:5px;
}

