<div class="container">
  <div class="content-main">
    <h1>Hi {{ this.user.Imie }} {{ this.user.Nazwisko }}!</h1>
    <div class="user-image">
      <img [src]="user.imagePath" />
    </div>
    <br />
    <button
      mat-raised-button
      color="primary"
      (click)="follow()"
      *ngIf="this.mode == 'userProfile' && !alreadyFollowed"
    >
      Follow
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="unFollow()"
      *ngIf="this.mode == 'userProfile' && alreadyFollowed"
    >
      Unfollow
    </button>
    <form
      [formGroup]="form"
      (submit)="onSaveImage()"
      *ngIf="this.mode == 'myProfile'"
    >
      <div>
        <button mat-raised-button color="primary" (click)="filePicker.click()">
          Pick profile image
        </button>
        <input type="file" #filePicker (change)="onImagePicked($event)" />
      </div>
      <br />
      <div
        class="image-preview"
        *ngIf="imagePreview !== '' && imagePreview && form.get('image')!.valid"
      >
        <img [src]="imagePreview" />
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="imagePreview !== '' && imagePreview && form.get('image')!.valid"
      >
        Load up chosen image
      </button>
    </form>
  </div>

  <div class="subNavigation">
    <h2>Navigation</h2>
    <a
      mat-button
      routerLink="/profile/myGoals"
      routerLinkActive="mat-accent"
      *ngIf="this.mode == 'myProfile'"
      >My goals</a
    >
    <a
      mat-button
      [routerLink]="['/profile/myGoals/', userId]"
      routerLinkActive="mat-accent"
      *ngIf="this.mode == 'userProfile'"
      >{{ this.user.Imie }} goals</a
    >
    <a
      mat-button
      routerLink="/profile/todayTasks"
      routerLinkActive="mat-accent"
      *ngIf="this.mode == 'myProfile'"
      >My tasks for today</a
    >
    <a
      mat-button
      routerLink="/profile/calendar"
      routerLinkActive="mat-accent"
      *ngIf="this.mode == 'myProfile'"
      >Calendar</a
    >
    <a
      mat-button
      routerLink="/profile/summary"
      routerLinkActive="mat-accent"
      *ngIf="this.mode == 'myProfile'"
      >Summary</a
    >
  </div>
</div>
