  <div class="material-table">

    <mat-form-field appearance="fill">
      <mat-label>Search user</mat-label>
      <input matInput (keyup)="filterCountries(searchTerm)" [(ngModel)]="searchTerm"/>
      <mat-icon class='search-icon' matPrefix (click)="filterCountries(searchTerm)">search</mat-icon>
    </mat-form-field>

    <mat-table
    #table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    matSort
    (matSortChange)="onMatSortChange()"
    matSortDirection="asc"
    multiTemplateDataRows
    class="mat-elevation-z8">
    
    <!-- Position Column -->
    <ng-container matColumnDef="Profilowe">
      <mat-header-cell *matHeaderCellDef>Profilowe</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img
          [src]="element.imagePath"
          height="40"
          width="40"
          alt="Profilowe"
        />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Imie">
      <mat-header-cell *matHeaderCellDef mat-sort-header="Imie">
        Imie
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.Imie }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nazwisko">
      <mat-header-cell *matHeaderCellDef mat-sort-header="Nazwisko">Nazwisko</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.Nazwisko }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateTo(row)"
      class="detail-row"
    ></mat-row>
   </mat-table>
  </div>
