<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="goals.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let goal of goals">
    <mat-expansion-panel-header
      *ngIf="userIsAuthenticated && userId === goal.creator"
    >
      Goal title: {{ goal.title }}
    </mat-expansion-panel-header>

    <ng-template
      matExpansionPanelContent
      *ngIf="userIsAuthenticated && userId === goal.creator"
    >
      <p>Level 3: {{ goal.Poziom3 }}</p>
      <p>Year of complition level 3: {{ goal.Poziom3Date }}</p>

      <p>Level 2: {{ goal.Poziom2 }}</p>
      <p>Year of complition level 2: {{ goal.Poziom2Date }}</p>

      <p>Level 1: {{ goal.Poziom1 }}</p>
      <p>Year of complition level 1: {{ goal.Poziom1Date }}</p>

      <p>Inspiration for your goal: {{ goal.Inspiration }}</p>
      <p>Reason why you want to achieve this goal: {{ goal.reasonWhy }}</p>
      <p>What if you fail: {{ goal.Failure }}</p>
    </ng-template>

    <mat-action-row
      *ngIf="
        userIsAuthenticated &&
        userId === goal.creator &&
        this.mode == 'myProfile'
      "
    >
      <a mat-button color="primary" [routerLink]="['/edit', goal.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(goal.id!)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="goals.length <= 0 && !isLoading">
  Nie ma postów jeszcze
</p>
