<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onSaveGoal(goalForm)" #goalForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" [ngModel]="goal.title" name="title" required #title="ngModel" placeholder="Title">
      <mat-error *ngIf="title.invalid">Wpisz tytul</mat-error>
    </mat-form-field>

    <!-- Poziom 3 -->
    <mat-form-field>
      <textarea matInput rows="6" [ngModel]="goal.Poziom3" name="Poziom3" required #Poziom3="ngModel" placeholder="Content"></textarea>
      <mat-error *ngIf="Poziom3.invalid">Wpisz tresc celu</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [ngModel]="datePoziom3.value" name="poziom3Date" #poziom3Date ="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (yearSelected)="setYearPoziom3($event, picker)">
      </mat-datepicker>
    </mat-form-field>

    <!-- Poziom 2-->
    <mat-form-field>
      <input matInput type="text" [ngModel]="goal.Poziom2" name="Poziom2" required #Poziom2="ngModel" placeholder="Poziom2">
      <mat-error *ngIf="Poziom2.invalid">Wpisz Poziom2</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker2" [ngModel]="datePoziom2.value" name="poziom2Date" #poziom2Date ="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker
        #picker2
        startView="multi-year"
        (yearSelected)="setYearPoziom2($event, picker2)">
      </mat-datepicker>
    </mat-form-field>

    <!-- Poziom 1-->
    <mat-form-field>
      <input matInput type="text" [ngModel]="goal.Poziom1" name="Poziom1" required #Poziom1="ngModel" placeholder="Title">
      <mat-error *ngIf="Poziom1.invalid">Wpisz Poziom1</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker1" [ngModel]="datePoziom1.value" name="poziom1Date" #poziom1Date ="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker
        #picker1
        startView="multi-year"
        (yearSelected)="setYearPoziom1($event, picker1)">
      </mat-datepicker>
    </mat-form-field>

    <!-- Inspiration-->
    <mat-form-field>
      <input matInput type="text" [ngModel]="goal.Inspiration" name="Inspiration" required #Inspiration="ngModel" placeholder="Title">
      <mat-error *ngIf="Inspiration.invalid">Wpisz tytul</mat-error>
    </mat-form-field>

    <!-- reasonWhy -->
    <mat-form-field>
      <input matInput type="text" [ngModel]="goal.reasonWhy" name="reasonWhy" required #reasonWhy="ngModel" placeholder="Title">
      <mat-error *ngIf="reasonWhy.invalid">Wpisz tytul</mat-error>
    </mat-form-field>

    <!-- Failure -->
    <mat-form-field>
      <input matInput type="text" [ngModel]="goal.Failure" name="Failure" required #Failure="ngModel" placeholder="Title">
      <mat-error *ngIf="Failure.invalid">Wpisz tytul</mat-error>
    </mat-form-field>


    <button
    mat-raised-button
    color="primary"
    type="submit">Zapisz post</button>
  </form>
</mat-card>



